<%= form_for(@content_module) do |f| %>
  <% if @content_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_module.errors.count, "error") %> prohibited this content_module from being saved:</h2>

      <ul>
      <% @content_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meta_attribution %><br>
    <%= f.text_field :meta_attribution %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %><br>
    <%= f.text_field :meta_keywords %>
  </div>
  <div class="field">
    <%= f.label :meta_title %><br>
    <%= f.text_field :meta_title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_area :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
