<p id="notice"><%= notice %></p>

<h3>Chapters</h3>
<ul class="nav nav-list">
	<% ContentModule.select("id,meta_title,slug").each do |content_module| %>
 		<li><%= link_to content_module.meta_title, content_module %></li>
	<% end %>
	<li><%= link_to 'New Chapter', new_content_module_path %></li>
</ul>