
<p id="notice"><%= notice %></p>

<h1><%= @content_module.meta_title %></h1>

<div class="row">
  <div class="col-md-9">
	<div><%= (@content_module.content || "").html_safe %></div>
	<p>
	  <strong>Attribution:</strong>
	  <%= @content_module.meta_attribution %>
	</p>

	<p>
	  <strong>Keywords:</strong>
	  <%= @content_module.meta_keywords %>
	</p>


	<p>
	  <strong>References:</strong>
	  <%= @content_module.references %>
	</p>

  </div><!-- col-md-9 -->
  <div class="col-md-3">
    <div class="well sidebar-nav">
      <h3>Chapters</h3>
      <ul class="nav nav-list">
			<% ContentModule.select("id,meta_title,slug").each do |content_module| %>
        		<li><%= link_to content_module.meta_title, content_module %></li>
			<% end %>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->
